%h1 New entry: #{@blog.title}
= form_with model: @entry ,url: blog_entries_path do |form|
  = form.label "Title"
  = form.text_field :title
  = form.label "Body"
  = form.text_field :body
  = form.submit :value => "Save"
= link_to "Back", :back