%h1= @blog.title
%h2 Title: #{@entry.title}
%h2 Body: #{@entry.body}
%hr
%h3 Listing comments
%table
  %tr
    %th Body
  - @entry.comments.each do |comment|
    %tr
      - if comment.status == "approved"
        %th= comment.body
        %th
        %th= link_to "Destroy", blog_entry_comment_path(@blog.id, @entry.id, comment.id), method: :delete
      - else
        %th (æ‰¿èªå¾…ã¡)
        %th= link_to "Approve", ''
        %th= link_to "Destroy", blog_entry_comment_path(@blog.id, @entry.id, comment.id), method: :delete
%h3 New comment
= form_with model: Comment.new, url: blog_entry_comments_path(@blog.id, @entry.id), method: :post do |form|
  = form.label "Body"
  = form.text_field :body
  = form.submit :value => "Save"